<!DOCTYPE html>
<html>
<title>Simple Admin Pannel</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><style>
body {font-family: "Roboto", sans-serif}
.w3-bar-block .w3-bar-item {
  padding: 16px;
  font-weight: bold;
}
</style>
<body>

<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" style="z-index:3;width:250px;" id="mySidebar">
    <span onclick="w3_close()"
      class="w3-button w3-display-topright">&times;</span>
   <center><h3><b>MENU</b></h3></center>
  
  <a class="w3-bar-item w3-button w3-teal" href="/">Realtime Logs</a>
  <a class="w3-bar-item w3-button" href="/Reports">Reports</a>
  <a class="w3-bar-item w3-button" onclick="OpenaddUser()">add User</a>
  <a class="w3-bar-item w3-button" onclick="OpenRemoveUser()">Remove User</a>
  <a class="w3-bar-item w3-button">View available PCs</a>
  
</nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div class="w3-main" style="margin-left:250px;">

<div id="myTop" class="w3-container w3-top w3-theme w3-large">
  <p><i class="fa fa-bars w3-button w3-teal w3-hide-large w3-xlarge" onclick="w3_open()"></i>
  <span id="myIntro" class="w3-hide">Realtime Users Loggins  and Loggouts</span></p>
</div>

<header class="w3-container w3-theme" style="padding:64px 32px">
  <center> <h4 class="w3-xxlarge">Realtime Users Loggins  and Loggouts</h4></center>
</header>

<div class="w3-container" style="padding:32px;height:800px">

<center><ul  style="list-style: none;" id='listUsers'>
</ul></center>
</div>
<div id="modal" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom"  style="max-width:600px">
    <span onclick=" document.getElementById('modal').style.display='none'"
      class="w3-button w3-display-topright">&times;</span>
      <div class="w3-container">
   <form  >
     <div class="w3-section">
       <label><b>New User's name</b></label>
       <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="UserName" id="newUserName" name="UserName" required>
     
       <label><b>Enter new Pass-Code</b></label>
       <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Pass-Code" id="newPassCode" name="Pass-Code" required>
     </div>
     <center><label class="w3-green  w3-animate-left" style="display:none" id="registerMessage"><b></b></label></center>
     <center><label class="w3-red  w3-animate-left" style="display:none" id="unregisterMessage"><b></b></label></center>
   </form>
   <center><button class="w3-button w3-section w3-teal w3-ripple" onclick="fetchIt1()"> Finish </button></center>

  </div>
 </div>
</div>
<div id="modal1" class="w3-modal">
  <div class="w3-modal-content  w3-card-4 w3-animate-zoom"  style="max-width:600px">
    <span onclick=" document.getElementById('modal1').style.display='none'"
      class="w3-button w3-display-topright">&times;</span>
    <div class="w3-container">
   <form  >
     <div class="w3-section">
       <label><b>Enter the user's name you want to remove</b></label>
       <input class="w3-input w3-border w3-margin-bottom" type="text" id="deleteUserName" placeholder="UserName" name="Pass-Code" required>
       <center><label class="w3-green  w3-animate-left" style="display:none" id="userdeleteMessage"><b></b></label></center>
     </div>
   </form>     
   <center><button onclick="fetchIt2()" class="w3-button w3-section w3-teal w3-ripple"> Remove </button></center>
  </div>
 </div>
</div>
<footer class="w3-container w3-theme" style="padding:32px">
  <p>2023. all rights reserved</p>
</footer>
     
</div>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
<script>
  async function postData(url = '', data = {}) {
  // Default options are marked with *
   console.log(data)
  const response = await fetch(url, {
    method: 'POST', 
    mode: 'cors',
    headers: {
      //'Content-Type': 'application/json'
       'Content-Type': 'application/x-www-form-urlencoded',
    },
   
     // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    body:  new URLSearchParams({
      data: JSON.stringify(data) 
      })// body data type must match "Content-Type" header
  });
  return response.json(); // parses JSON response into native JavaScript objects
}

function fetchIt1() {
  let newUserName=document.getElementById('newUserName').value
  let newUsernewPassCode=document.getElementById('newPassCode').value
    postData('http://localhost:5000/RegesterNewUser', { newUserName: newUserName,newUsernewPassCode:newUsernewPassCode })
  .then((data) => {
   // window.close()
   
   if(data.finneshedRegister){ 
    document.getElementById('registerMessage').style.display='block'
    document.getElementById('registerMessage').innerHTML=data.finneshedRegister
  }else{
    document.getElementById('unregisterMessage').style.display='block'
    document.getElementById('unregisterMessage').innerHTML=data.isAlreadyRegistered
  }
  

    console.log(data); // JSON data parsed by `data.json()` call
  });
}
function fetchIt2() {
  let userName=document.getElementById('deleteUserName').value
 
    postData('http://localhost:5000/RemoveUser', { userName:userName })
  .then((data) => {
   // window.close()
   
   if(data.userdelete){ 
    document.getElementById('userdeleteMessage').style.display='block'
    document.getElementById('userdeleteMessage').innerHTML=data.userdelete
  }
  

    console.log(data); // JSON data parsed by `data.json()` call
  });
}

function OpenaddUser(){
  document.getElementById('modal').style.display='block'
}
function OpenRemoveUser(){
  document.getElementById('modal1').style.display='block'
}
const socket = io();
 socket.on("connect", (message) => {
  console.log('connected to socket')
  
 });
 socket.on("UserLoggin", (message) => {
    console.log(message)
let listOfUsers=document.getElementById('listUsers')
let li=document.createElement('li')
let h4=document.createElement('h3')
li.className='w3-card-4 w3-green  w3-animate-left'

h4.innerHTML=message
 li.append(h4)
 listOfUsers.appendChild(li)
  

  
 });
 function clickmessage (){ socket.emit('message','hello') ,console.log('hello')}

// Open and close the sidebar on medium and small screens
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Change style of top container on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("myTop").classList.add("w3-card-4", "w3-animate-opacity");
    document.getElementById("myIntro").classList.add("w3-show-inline-block");
  } else {
    document.getElementById("myIntro").classList.remove("w3-show-inline-block");
    document.getElementById("myTop").classList.remove("w3-card-4", "w3-animate-opacity");
  }
}

// Accordions
function myAccordion(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme", "");
  }
}
</script>
     
</body>
</html> 
